* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

nav {
  font-family: Arial;
  background: #fcf1d6;
  height: 90px;
  width: 100%;
}

label.logo {
  float: left;
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: capitalize;
}

.home:hover {
  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

a.active {
  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

.about:hover {
  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

.register:hover {
  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

.checkbtn {
  font-size: 30px;
  color: #dd9a05;
  float: right;
  line-height: 80px;
  margin-top: 5px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 1px);
}

.link_bar {
  color: #999;
  text-align: center;
  margin: 50px;
}

.link_food {
  color: #999;
}

a {
  text-transform: capitalize;
  color: inherit;
  text-decoration: inherit;
}

.read:hover {

  background: #f7d685;
  transition: .5s;
  border-radius: 16px;

}

.wrapper .radio_tabs {
  height: 60px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px;
  display: flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.wrapper .radio_tabs label {
  margin-right: 15px;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
}

.wrapper .radio_tabs .radio_mark:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background: url("Images/marker_icon.png") no-repeat 0 0;
  width: 22px;
  height: 22px;
}

.wrapper .radio_tabs label .input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.wrapper .radio_tabs label .input:checked~.radio_mark {
  color: #dd9a05;
}

.wrapper .radio_tabs label .input:checked~.radio_mark:before {
  background-position: 0 -23px;
  width: 22px;
  height: 22px;
}

.wrapper .content {
  width: 100%;
  height: calc(100% - 70px);
  background: #fff;
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.wrapper .content p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}

.content2 p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}

.content3 p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}

.page-footer .wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: block;
}
.wrapper {
  width: 1300px;
  height: auto;
  margin: 10px auto;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

.title h4 {
  text-transform: capitalize;
  font-size: 36px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.title h4 span {
  display: block;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.title h4:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #dd9a05;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-menu {
  flex-basis: 580px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.single-menu:nth-child(5), .single-menu:nth-child(6) {
  border-bottom: 0;
}

.single-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.single-menu:hover img {
  border-radius: 0;
}

.single-menu img {
  max-width: 180px;
  margin-right: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 3px;
  transition: .5s;
}

.single-menu h4 {
  text-transform: capitalize;
  font-size: 22px;
  border-bottom: 1px dashed #333;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.single-menu h4 span {
  float: right;
  color: #ff7720;
  font-style: italic;
}

.page-footer {

  float: left;
  width: 150%;
  background:#fcf1d6;
  padding-top: 25px;
  margin-top: 80px;
}

.page-footer>.wrapper::after {

  content: '.';
  font-size: 0px;
  height: 1px;
  width: 100%;
  clear: both;
  display: block;
}

.footer-col {

  float: left;
  width: 25%;
}

.page-footer h3 {

  font-size: 13px;
  text-transform: uppercase;
}

.page-footer h3::after {

  content: '.';
  font-size: 0;
  width: 90%;
  height: 1px;
  background: #292929;
  display: block;
  margin: 15px 0;
}

.page-footer li {
  font-size: 13px;
  color: #999;
  line-height: 1.6;
}

.page-footer li a {
  color: #999;
  text-decoration: none;
}

.page-footer li a:hover {
  color: black;
  cursor: pointer;
}

.social a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;


  text-align: center;
  line-height: 44px;
}



.social li {
  display: inline-block;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;


}

.fa-linkedin {
  background: #007bb5;
  color: white;

}

.fa-youtube {
  background: #bb0000;
  color: white;

}

.fa-instagram {
  background: #bc2a8d;
  color: white;

}

.fa-pinterest {
  background: #cb2027;
  color: white;


}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;


  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
