* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
page-footer
body {

  font-family: Arial;
}

nav {

  font-family: Arial;
  background: #fcf1d6;
  height: 90px;
  width: 100%;
}

label.logo {

  float: left;
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {

  float: right;
  margin-top: 5px;
  margin-right: 20px;
}

nav ul li {

  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {

  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: capitalize;
}

a.active {

  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

.home:hover {

  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

.recipe:hover {

  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

.about:hover {

  background: #f7d685;
  transition: .5s;
  border-radius: 16px;
}

.checkbtn {

  font-size: 30px;
  color: #dd9a05;
  float: right;
  line-height: 80px;
  margin-top: 5px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {

  display: none;
}

a {
  text-transform: capitalize;
  color: inherit;
  text-decoration: inherit;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: block;
}

.LoginBox {

  margin-bottom: 100px;
}

.btn {

  width: 20%;
  border: none;
  border-radius: 4px;
  margin: 15px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.btn:hover {

  opacity: 1;
}

.fb {

  background-color: #3B5998;
  color: white;
}

.google {

  background-color: #dd4b39;
  color: white;
}

.container {

  position: relative;
  border-radius: 5px;
  padding: 10px 0 30px 0;

}

.social_col {

  width: 60%;
  margin: auto;
  padding: 15px 50px;
  margin-top: 6px;
  text-align: center;
}

h1 {

  position: relative;
  padding-bottom: 10px;
  /* font-family: 'Roboto', sans-serif; */
  text-align: center;
  margin-top: 200px;
}

h1 span {

  display: block;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

h1::before {

  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #dd9a05;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h2 {

  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
  margin-top: 100px;

}

h4 {

  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h4 span {

  background: #fff;
  padding: 0 10px;
}

input[type = email], input[type = password] {

  width: 30%;
  padding: 15px;
  margin: 5px 0 25px 0;
  display: inline-block;
  border-radius: 5px;
  border: outset;
  background: #f1f1f1;
}

input[type = checkbox] {

  display: inline-block;
  width: 20px;
}

input[type = submit] {

  border-radius: 30px;
  background-color: #2554C7;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px;
  cursor: pointer;
}

input[type = email]:hover, input[type = password]:hover {

  border-color:#f7d685;
}

.login-form {

  text-align: center;
  margin-top: 1 50px;
}

.social-login-form {

  margin-top: 250px;
  margin-bottom: 0;

}

.checkbox-container {

  float: left;
  width: 75%;
}

@media screen and (max-width: 1440px) {

  .social_col {

    width: 100%;
    margin-top: 0;
  }
}

.reset {

  text-decoration: underline;
  color: black;
}

.join {

  text-decoration: underline;
  color: black;
}

.page-footer {

  float: left;
  width: 150%;
  background:#fcf1d6;
  padding-top: 25px;
  margin-top: 80px;
}

.page-footer>.wrapper::after {

  content: '.';
  font-size: 0px;
  height: 1px;
  width: 100%;
  clear: both;
  display: block;
}

.footer-col {

  float: left;
  width: 25%;
}

.page-footer h3 {

  font-size: 13px;
  text-transform: uppercase;
}

.page-footer h3::after {

  content: '.';
  font-size: 0;
  width: 90%;
  height: 1px;
  background: #292929;
  display: block;
  margin: 15px 0;
}

.page-footer li {
  font-size: 13px;
  color: #999;
  line-height: 1.6;
}

.page-footer li a {
  color: #999;
  text-decoration: none;
}

.page-footer li a:hover {
  color: black;
  cursor: pointer;
}

.social a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
}



.social li {
  display: inline-block;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;


}

.fa-linkedin {
  background: #007bb5;
  color: white;

}

.fa-youtube {
  background: #bb0000;
  color: white;

}

.fa-instagram {
  background: #bc2a8d;
  color: white;

}

.fa-pinterest {
  background: #cb2027;
  color: white;


}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;


  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
